<div id="sidebar-wrapper" class="border-right bg-white menu-details">
    <div class="h-120 border-bottom py-2">
        <img class="py-2" src="assets/svg/projects/logo-projectDetails.svg" width="110px">
        <div class="name-detail d-flex justify-content-between align-items-center flex-wrap mb-2"><img class="mb-2" src="assets/svg/projects/photo-projectName.svg" width="45px"><p class="line-1 mb-0">DỰ ÁN “SCHOOL - DEVELOPERS - DEVELOPERS - DEVELOPERS”<p></p></div>
    </div>

    <div class="notifyDetails px-2 py-5">
        <h3 class="nameProject">To-Do List</h3>
        <ul class="notifyList py-3">
            <li class="py-2">
                <div class="notifyItems d-flex align-items-center">
                    <div class="number col-2">1</div>
                    <div class="info col-10">
                        <div class="date d-flex justify-content-between">
                            <span class="text-danger">Trễ 7 ngày</span>
                            <span>15/10/2021</span>
                        </div>
                        <div class="description mt-2 line-1">
                            Cần relose module cho dự án này
                        </div>
                    </div>
                </div>
            </li>
            <li class="py-2">
                <div class="notifyItems d-flex align-items-center">
                    <div class="number col-2">2</div>
                    <div class="info col-10">
                        <div class="date d-flex justify-content-between">
                            <span class="text-success">Hôm nay</span>
                            <span>15/10/2021</span>
                        </div>
                        <div class="description mt-2 line-1">
                            Cần relose module cho dự án này
                        </div>
                    </div>
                </div>
            </li>
            <li class="py-2">
                <div class="notifyItems d-flex align-items-center">
                    <div class="number col-2">3</div>
                    <div class="info col-10">
                        <div class="date d-flex justify-content-between">
                            <span class="text-warning">Còn 3 ngày</span>
                            <span>15/10/2021</span>
                        </div>
                        <div class="description mt-2 line-1">
                            Cần relose module cho dự án này
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="relatedCategories px-2 pb-5">
        <div class="list-group list-group-flush w-100">
            <a class="listItems list-group-item-action p-3" routerLink="/"><i class="fas fa-circle"></i>Home</a>
            <a class="listItems list-group-item-action p-3" routerLink="/working-schedule" routerLinkActive="active"><i class="fas fa-circle"></i>Dashboard</a>
            <a class="listItems list-group-item-action p-3" routerLink="/user" routerLinkActive="active"><i class="fas fa-circle"></i>Quản lý người dùng</a>
            <a class="listItems list-group-item-action p-3" routerLink="/working-week" routerLinkActive="active"><i class="fas fa-circle"></i>Tuần làm việc</a>
            <a class="listItems list-group-item-action p-3" routerLink="/work-management" routerLinkActive="active"><i class="fas fa-circle"></i>Quản lý công việc</a>
            <a class="listItems list-group-item-action p-3" routerLink="/todolist" routerLinkActive="active"><i class="fas fa-circle"></i>To do list</a>
            <a class="listItems list-group-item-action p-3" routerLink="/report" routerLinkActive="active"><i class="fas fa-circle"></i>Báo cáo hiệu suất công việc</a>
            <a class="listItems list-group-item-action p-3" routerLink="/grantt-charts" routerLinkActive="active"><i class="fas fa-circle"></i>Phân bổ công việc</a>
        </div>
    </div>

    <img class="px-2" src="assets/svg/projects/photo-projectDetails.svg" width="180px">
</div>
