<section class="cover-login py-5">
    <div class="container">
        <div class="logo-group d-flex align-items-center justify-content-center">
            <img src="assets/svg/logo.svg" width="156px">
            <div class="text ms-5">ASC Task Planning</div>
        </div>
        <div class="login-title">Hệ thống quản lý công việc</div>
        <div class="login-group row align-items-center">
            <div class="col-md-6 text-md-right text-center">
                <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide *ngFor="let image of images">
                        <div class="picsum-img-wrapper">
                            <img [src]="image" alt="Random slide">
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="col-md-6 text-end">
                <form class="login-form">
                    <div class="mb-3">
                        <img src="assets/svg/photoCircle.svg" width="130px">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control py-3">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control py-3">
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="form-check text-start">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Rememberme</label>
                        </div>
                        <div class="form-check">
                            <a href="#">Forgot Password</a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100" (click)="redirect('/work-management')">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>