<section class="cover-project py-5">
    <div class="container">
        <div class="logo-group d-flex align-items-center justify-content-center">
            <img src="assets/svg/logo.svg" width="156px">
            <div class="text ms-5">ASC Task Planning</div>
        </div>
        <div class="project-group">
            <div class="row justify-content-center">
                <div class="col-md-3 mx-5 px-5">
                    <div class="projectItems text-center">
                        <div class="img d-flex justify-content-center align-items-center hvr-zoom hvr-glass">
                            <img src="assets/svg/projects/projects-1.svg" width="230px">
                        </div>
                        <div class="info">
                            <p>Projects 1 Name</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mx-5 px-5">
                    <div class="projectItems text-center">
                        <div class="img d-flex justify-content-center align-items-center hvr-zoom hvr-glass">
                            <img src="assets/svg/projects/projects-2.svg" width="230px">
                        </div>
                        <div class="info">
                            <p>Projects 2 Name</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mx-5 px-5">
                    <div class="projectItems text-center">
                        <div class="img d-flex justify-content-center align-items-center hvr-zoom hvr-glass">
                            <img src="assets/svg/projects/projects-3.svg" width="230px">
                        </div>
                        <div class="info">
                            <p>Projects 3 Name</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>