<section class="projectDetails cover-granttCharts">
    <div class="container">
        <div class="d-flex">
            <app-menu-details></app-menu-details>
            <div class="content-wrapper w-100 overflow-hidden">
                <div class="content-header">
                    <app-header-details [title]="title"></app-header-details>
                    <div class="bottom border-bottom h-60"></div>
                </div>
                <div class="content-body">
                    <kendo-gantt [style.height.px]="500" [kendoGanttHierarchyBinding]="data" childrenField="subtasks" kendoGanttExpandable [initiallyExpanded]="true" [filterable]="true" [sortable]="true" [columnMenu]="true" [columnsResizable]="true"
                        [columnsReorderable]="true" [taskClass]="taskClass">
                        <kendo-gantt-column field="title" title="Task" [width]="100" [expandable]="false"></kendo-gantt-column>
                        <!-- <kendo-gantt-column-group title="Estimation">
                            <kendo-gantt-column field="start" title="Start" format="dd-MMM-yyyy" [width]="120" filter="date"></kendo-gantt-column>
                            <kendo-gantt-column field="end" title="End" format="dd-MMM-yyyy" [width]="120" filter="date"> </kendo-gantt-column>
                        </kendo-gantt-column-group> -->
                        <!-- <kendo-gantt-timeline-day-view></kendo-gantt-timeline-day-view> -->
                        <kendo-gantt-timeline-week-view></kendo-gantt-timeline-week-view>
                        <kendo-gantt-timeline-month-view></kendo-gantt-timeline-month-view>
                        <ng-template kendoGanttTaskContentTemplate let-dataItem>
                            {{ dataItem.title }} - ({{ getCompletionPercentageText(dataItem) }})
                        </ng-template>
                    </kendo-gantt>
                </div>
            </div>
        </div>
    </div>
</section>