<section class="projectCategories p-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-2">
                <img src="assets/svg/projects/logo-projectCategories.svg" width="70px">
            </div>
            <div class="col-10 text-center text-uppercase">
                <p class="title mb-2">Dự án</p>
                <h3 class="title">School - Developer</h3>
            </div>
        </div>
        <div class="toolGroup mt-5 row justify-content-between">
            <div class="col-md-10 col-sm-9">
                <div ngbDropdown>
                    <button class="btn btnTools" id="menuToggle" ngbDropdownToggle><i class="fas fa-th"></i></button>
                    <div ngbDropdownMenu aria-labelledby="menuToggle">
                        <div class="card">
                            <div class="card-body row align-items-start">
                                <div class="col-md-2 col-sm-4">
                                    <img src="assets/svg/projects/menuPhoto.svg" width="210">
                                </div>
                                <a class="col-md-10 col-sm-8 row" href="#">
                                    <a class="col-sm-4 menuInfoItems d-flex align-items-start" href="#">
                                        <img src="assets/svg/icons/home.svg" width="25">
                                        <div class="info ms-2">
                                            <p>Home</p>
                                            <span>Trang chủ</span>
                                        </div>
                                    </a>
                                    <a class="col-sm-4 menuInfoItems d-flex align-items-start" href="#">
                                        <img src="assets/svg/icons/calenda.svg" width="20">
                                        <div class="info ms-2">
                                            <p>Tuần làm việc</p>
                                            <span>Định nghĩa các tuần làm việc và số giờ làm trong tháng</span>
                                        </div>
                                    </a>
                                    <a class="col-sm-4 menuInfoItems d-flex align-items-start" href="#">
                                        <img src="assets/svg/icons/folder.svg" width="25">
                                        <div class="info ms-2">
                                            <p>Báo cáo hiệu suất công việc</p>
                                            <span>Báo cáo thống kê công việc, thời gian, mức độ hoàn thành của thành viên</span>
                                        </div>
                                    </a>
                                    <a class="col-sm-4 menuInfoItems d-flex align-items-start" href="#">
                                        <img src="assets/svg/icons/dashboard.svg" width="25">
                                        <div class="info ms-2">
                                            <p>Dashboard</p>
                                            <span>Xem tổng quan khối lượng và tiến độ công việc</span>
                                        </div>
                                    </a>
                                    <a class="col-sm-4 menuInfoItems d-flex align-items-start" href="#">
                                        <img src="assets/svg/icons/project-diagram.svg" width="25">
                                        <div class="info ms-2">
                                            <p>Quản lý công việc</p>
                                            <span>Khởi tạo công việc, giao việc, theo dõi tiến độ</span>
                                        </div>
                                    </a>
                                    <a class="col-sm-4 menuInfoItems d-flex align-items-start" href="#">
                                        <img src="assets/svg/icons/site-map.svg" width="25">
                                        <div class="info ms-2">
                                            <p>Phân bổ công việc</p>
                                            <span>Xem kế hoạch đã giao, thứ tự ưu tiên của thành viên trong tuần/tháng</span>
                                        </div>
                                    </a>
                                    <a class="col-sm-4 menuInfoItems d-flex align-items-start" href="#">
                                        <img src="assets/svg/icons/users.svg" width="25">
                                        <div class="info ms-2">
                                            <p>Quản lý người dùng</p>
                                            <span>Khởi tạo và cấp quyền cho các tài khoản người dùng</span>
                                        </div>
                                    </a>
                                    <a class="col-sm-4 menuInfoItems todoList d-flex align-items-start" href="#">
                                        <img src="assets/svg/icons/users.svg" width="25">
                                        <div class="info ms-2">
                                            <p>To-do list</p>
                                            <span>Theo dõi việc cần làm, ngày đến hạn team cần quan tâm</span>
                                        </div>
                                    </a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div ngbDropdown>
                    <button class="btn btnTools" id="menuToggle" ngbDropdownToggle><i class="far fa-user-circle me-2"></i><span>Nguyễn Hoàng Tuấn</span></button>
                    <div ngbDropdownMenu aria-labelledby="menuToggle">
                        <div class="card">
                            <div class="card-body">
                                <a class="userItems mb-3 d-flex align-items-start" href="#">
                                    <img src="assets/svg/icons/user.svg" width="13">
                                    <div class="info ms-2">
                                        <p>Hồ sơ người dùng</p>
                                    </div>
                                </a>
                                <a class="userItems mb-3 d-flex align-items-start" href="#">
                                    <img src="assets/svg/icons/lock.svg" width="13">
                                    <div class="info ms-2">
                                        <p>Đổi mật khẩu</p>
                                    </div>
                                </a>
                                <a class="userItems mb-3 d-flex align-items-start" href="#">
                                    <img src="assets/svg/icons/exchange.svg" width="16">
                                    <div class="info ms-2">
                                        <p>Chuyển dự án</p>
                                    </div>
                                </a>
                                <a class="userItems d-flex align-items-start" href="#">
                                    <img src="assets/svg/icons/logout.svg" width="16">
                                    <div class="info ms-2">
                                        <p>Đăng xuất</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>